* {
    box-sizing: border-box;
  }
  body {
    height: 100%;
  background-color: #fafafa
  ;
  }
 
  .nav-container4 {
    width: 300px;
    transition: all 0.5s linear;
  }
  .nav4 {
    list-style-type: none;
    margin:0;
    padding:0;
  }
  .active4{
    height: 50px;
    position:relative;
    background-color: transparent;
   }
  .aa {
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    text-decoration: none;
    display:block;
    height:100%;
    width:100%;
    line-height:50px;
    color:#1B1B1B;
    text-transform: uppercase;
    font-weight:400;
    padding-left:25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition:all 0.3s linear;
  }
  .text4 {
    transition: all .4s linear;
  }
  .active4:hover .text4{
   margin-left:20px
  }
  .active4 .aa {
    color: #1B8DA6;
    border-left:5px solid #1B8DA6;
    background-color: #fafafa;
    font-weight: bold;
    outline:0;
  }
  .active4:not(.active4):hover .aa{
    color: #fafafa;
    font-weight: bold;
     background-color: #1B8DA6;
  }
  
  .text4[class ^= "icon"]{
    position:absolute;
    left:20px;
    font-size:1.5em;
    transition: all 0.3s linear;
  }
  
  @media only screen and (max-width : 860px){
    .text4{
      display:none;
    }
    .nav-container4, .aa {
      width: 70px;
    }
    .aa:hover{
      width: 200px;
      z-index:1;
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid black;
      box-shadow: 0 0 1px 1px black;
    }
    .aa:hover .text {
      display:block;
      padding-left: 30%;    
    }
    
  }
  @media only screen and (max-width: 480px){
    .nav-container4, .aa{ width:50px; }
    .text4[class ^= "icon"]{left:8px;}
  }